body {
    background: lightgray !important;
  }

h1 {
    color: rgb(44, 185, 178);
    font-weight:bold !important;
}

h3 {
    color: rgb(44, 185, 178);
    font-weight:bold !important;
}

h5 {
    color: rgb(44, 185, 178);
    font-weight:bold !important;
    text-align: center;
}

.navbar li a {
    color:black !important;
} 

.navbar {
    background: white;
}

.navbar-brand {
    background:rgb(44, 185, 178);
    color: white !important;
    width: 100px;
    height:60px;
    font-weight:bold;
    text-align: center;
    position:absolute;
    left:0px;
    padding-top:12px !important;
    font-size: 22px !important;
}

.box {
    height: auto;
    padding: 15px;
    margin: 5px;
  }

  .white {
    background: white;
  }

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: rgb(44, 185, 178);
    color: white;
    font-weight:bold;
  }

  #small_nav {
      visibility: hidden;
  }

@media (max-width: 1000px) {
    #small_nav {
        visibility: visible;
    }

    .navbar {
        visibility: hidden;
        
    }
}