body {
    background: lightgray !important;
  }

.container-fluid {
    padding: 20px;
}

h1 {
    color: rgb(44, 185, 178);
    font-weight:bold !important;
}

h3 {
    color: rgb(44, 185, 178);
    font-weight:bold !important;
}

h5 {
    color: rgb(44, 185, 178);
    font-weight:bold !important;
    text-align: center;
}

.navbar li a {
    color:black !important;
} 

.navbar {
    padding:10px;
    background: white;
}

.navbar-brand {
    background:rgb(44, 185, 178);
    color: white !important;
    width: 100px;
    height:60px;
    font-weight:bold;
    text-align: center;
    position:absolute;
    left:0px;
    padding-top:12px !important;
    font-size: 22px !important;
}

.box {
    height: auto;
    padding: 15px;
    margin: 5px;
  }

  .white {
    background: white;
  }